<strong>Olá, {{ student }}! </strong>
<p>Sua matrícula foi efetuada com sucesso.</p>
<br />
<strong>
  <p>Segue os dados da matrícula para simples conferência.</p>
  <br />
  <p>Você optou pelo seguinte plano: {{ plan.title }} </p>
  <ul>
    <li>Data de início: {{ startDateFormated }} </li>
    <li>Data Fim: {{ endDateFormated }} </li>
    <li>Preço: R$ {{ subscription.price }} </li>
  </ul>
</strong>
<br />
<p>Seja muito bem vindo e conte conosco para o alcaçar seus objetivos! </p>
